@media screen and (max-width: 1200px) {
    .product_tile {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 900px) {
    .product_tile {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .product_tile {
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {
    .banner-blocks-container .block {
        gap: 10px;
    }
}

@media screen and (max-width: 600px) {
    .banner-blocks-container2 .block {
        gap: 10px;
    }
}

@media screen and (max-width: 1550px) {
    .banner-blocks-container .block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 550px) {
    .banner-blocks-container .block {
        display: none;
    }
}


@media screen and (max-width: 570px) {
    .card2 {
        width: 180px;
    }
}

@media screen and (max-width: 1550px) {
    .banner-blocks-container2 .block {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 400px) {
    .banner-blocks-container2 .block {
        display: flex;
        grid-template-columns: auto auto;
        justify-content: center;
        flex-wrap: wrap;
        gap: 5px;

    }
}

@media screen and (max-width: 1400px) {
    .slick-slide img {
        width: 850px;
        height: 510px;
    }
}

@media screen and (max-width: 1300px) {
    .slick-slide img {
        width: 800px;
        height: 460px;
    }
}

@media screen and (max-width: 950px) {
    .slick-slide img {
        width: 700px;
        height: 410px;
    }
}

@media screen and (max-width: 780px) {
    .slick-slide img {
        width: 570px;
        height: 310px;
    }
}

@media screen and (max-width: 650px) {
    .slick-slide img {
        width: 470px;
        height: 270px;
    }
}

@media screen and (max-width: 550px) {
    .slick-slide img {
        width: 400px;
        height: 220px;
    }
}

@media screen and (max-width: 480px) {
    .slick-slide img {
        width: 340px;
        height: 190px;
    }
}

@media screen and (max-width: 400px) {
    .slick-slide img {
        width: 300px;
        height: 190px;
    }
}

@media screen and (max-width: 540px) {
    .input_head label {
        width: 220px;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 540px) {
    .head .block {
        grid-template-columns: auto auto auto;
    }
}


@media screen and (max-width: 420px) {
    .input_head label {
        width: 190px;
    }
}

@media screen and (max-width: 380px) {
    .input_head label {
        width: 170px;
    }
}

@media screen and (max-width: 560px) {
    .tovars_ul {
        display: none
    }
}

@media screen and (max-width: 1500px) {
    .sort {
        gap: 500px;
    }
}

@media screen and (max-width: 1100px) {
    .sort {
        gap: 300px;
    }
}

@media screen and (max-width: 560px) {
    .sort {
        margin-bottom: 50px;
    }
}

@media screen and (max-width: 400px) {
    .sort {
        gap: 50px;
    }
}

@media screen and (max-width: 890px) {
    .contact .block {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 400px) {
    .product {
        padding: 5px;
    }
}

@media screen and (max-width: 700px) {
    .slider_product {
        height: 300px;
    }
}

@media screen and (max-width: 700px) {
    .product_photo_slider img {
        height: 50px;
        width: 50px;

    }
}

@media screen and (max-width: 700px) {
    .product_photo_slider {
        border-bottom: 1px solid lightgray;
    }
}


@media screen and (max-width: 960px) {
    .product_row .block {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 700px) {
    .slider_wrapper2 {
        border-right: none;
    }
}



@media screen and (max-width: 500px) {
    .whatWeHave img {
        width: 25px;
        height: 25px;
    }
}

@media screen and (max-width: 400px) {
    .head .block {
        grid-template-columns: auto 1fr max-content;
    }
}

@media screen and (max-width: 500px) {
    .product_name {
        font-size: 18px;
        padding: 15px;
    }
}

@media screen and (max-width: 500px) {
    .delivery h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .delivery a {
        font-size: 17px;
        width: 375px;
    }
}

@media screen and (max-width: 610px) {
    .product_delivery_payment .delivery a {
        font-size: 25px;
        width: 530px;
    }
}

@media screen and (max-width: 500px) {
    .product_delivery_payment .delivery a {

        font-size: 17px;
        width: 375px;
    }
}

@media screen and (max-width: 1000px) {
    .product_delivery_payment .delivery_p1 {
        font-size: 17px;
        padding-top: 10px;
        padding-bottom: 10px;
        padding-right: 10px;
    }
}

@media screen and (max-width: 800px) {
    .product_delivery_payment .delivery_p {
        font-size: 20px;
        max-width: 530px;
        padding-left: 50px;
        border: none;
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .product_delivery_payment .delivery_p {
        font-size: 15px;
        max-width: 375px;
        padding-left: 5px;
        border: none;
        margin: 0;
    }
}

@media screen and (max-width: 500px) {
    .product_delivery_payment .delivery {
        border-right: none;
    }
}

@media screen and (max-width: 500px) {
    .delivery img {
        width: 50px;

    }
}

@media screen and (max-width: 1300px) {
    .product_delivery_payment .p_last {
        font-size: 17px;

    }
}

@media screen and (max-width: 1000px) {
    .product_delivery_payment .p_last {
        font-size: 17px;

    }
}

@media screen and (max-width: 800px) {
    .product_delivery_payment .p_last {
        font-size: 17px;

    }
}

@media screen and (max-width: 400px) {
    .product_delivery_payment .p_last {
        font-size: 17px;
        border-bottom: 1px solid lightgray;

    }
}

@media screen and (max-width: 1300px) {
    .product_delivery_payment .block {
        grid-template-columns: 1fr;

    }
}

@media screen and (max-width: 500px) {
    .product_description h2 {
        font-size: 17px;
        padding: 0;

    }
}

@media screen and (max-width: 500px) {
    .product_description p {
        font-size: 15px;


    }
}

@media screen and (max-width: 500px) {
    .product_delivery_payment h2 {
        font-size: 20px;
    }
}

@media screen and (max-width: 500px) {
    .product_delivery_payment img {
        width: 50px;
        height: 50px;
    }
}

@media screen and (max-width: 500px) {
    .about_product .block {
        font-size: 20px;
    }
}

@media screen and (max-width: 700px) {
    .product_delivery_payment .paymant {
        width: 300px;
    }
}

@media screen and (max-width: 1000px) {
    .product_delivery_payment .paymant_photo {
        width: 500px;
    }
}

@media screen and (max-width: 500px) {
    .product_delivery_payment .paymant_photo {
        width: 300px;
    }
}

@media screen and (max-width: 1530px) {
    .registration_users {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 1200px) {
    .register_content {
        width: 1000px;

    }
}

@media screen and (max-width: 1000px) {
    .register_content {
        width: 800px;

    }
}

@media screen and (max-width: 800px) {
    .register_content {
        width: 600px;

    }
}

@media screen and (max-width: 800px) {
    .register_label input {
        width: 400px;

    }
}

@media screen and (max-width: 600px) {
    .register_content {
        width: 400px;

    }
}

@media screen and (max-width: 600px) {
    .register_label input {
        width: 250px;

    }
}

@media screen and (max-width: 400px) {
    .register_content {
        width: 375px;

    }
}

@media screen and (max-width: 370px) {
    .register_content {
        width: 320px;

    }
}

@media screen and (max-width: 1530px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        width: 1300px;

    }
}

@media screen and (max-width: 1520px) {
    .container .form-section {
        width: 1300px;

    }
}

@media screen and (max-width: 1450px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        width: 1000px;

    }
}

@media screen and (max-width: 1450px) {
    .container .form-section {
        width: 1000px;

    }
}

@media screen and (max-width: 1100px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        width: 700px;

    }
}

@media screen and (max-width: 1100px) {
    .container .form-section {
        width: 700px;

    }
}


@media screen and (max-width: 700px) {
    .container .form-section {
        width: 500px;

    }
}

@media screen and (max-width: 700px) {
    .container .form-section input {
        width: 400px;

    }
}

@media screen and (max-width: 1100px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        width: 300px;
        justify-content: center;

    }
}

@media screen and (max-width: 500px) {
    .container .form-section {
        width: 350px;

    }
}

@media screen and (max-width: 500px) {
    .container .form-section input {
        width: 300px;

    }
}

@media screen and (max-width: 800px) {
    .reset-box_password {
        display: flex;
        flex-wrap: wrap
    }
}


@media screen and (max-width: 750px) {
    .modal-basket {
        width: 450px;


    }
}

@media screen and (max-width: 450px) {
    .modal-basket {
        width: 400px;


    }
}

@media screen and (max-width: 390px) {
    .modal-basket {
        width: 350px;
        padding: 10px;

    }
}

@media screen and (max-width: 390px) {
    .delete-btn {
        font-size: 25px;
    }
}

@media screen and (max-width: 390px) {
    .header_card_product .name-wrapepr {
        font-size: 13px;
        width: 100px;
    }
}

@media screen and (max-width: 390px) {
    .qty-btn {
        width: 20px;
        height: 20px;
    }
}

@media screen and (max-width: 750px) {
    .name-wrapepr {
        display: -webkit-box;
        -webkit-line-clamp: var(--line-clamp, 2);
        -webkit-box-orient: vertical;
        overflow: hidden;
    }
}

@media screen and (max-width: 500px) {
    .header_card_product p {
        width: 70px;
        font-size: 12px;
    }
}

@media screen and (max-width: 1500px) {
    .header_card_product .value-money {
        width: 20px;

    }
}

@media screen and (max-width: 750px) {
    .header_card_product {
        gap: 0px;


    }
}

@media screen and (max-width: 500px) {
    .header_card_product {
        gap: 0px;
        grid-template-columns: 30px 70px 1fr 89px 100px;

    }
}

@media screen and (max-width: 500px) {
    .price-wrapper .price {
        font-size: 15px;

    }
}

@media screen and (max-width: 650px) {
    .basket_pdoruct_photo {
        width: 60px;
        height: 60px;
    }
}


@media screen and (max-width: 650px) {
    .header_card_product .price_basket {
        font-size: 18px;

    }
}


@media screen and (max-width: 1300px) {
    .text-slider {
        margin-left: 0;

    }
}

@media screen and (max-width: 800px) {
    .marquee {
        max-width: 320px;

    }
}

@media screen and (max-width: 630px) {
    .marquee {
        max-width: 220px;

    }
}

@media screen and (max-width: 476px) {
    .marquee {
        max-width: 180px;

    }
}

@media screen and (max-width: 380px) {
    .marquee {
        max-width: 120px;
        font-size: 18px;

    }
}

@media screen and (max-width: 500px) {
    .marquee span {
        font-size: 18px;

    }
}

@media screen and (max-width: 500px) {
    .whatWeHave_kans {
        font-size: 18px;

    }
}

@media screen and (max-width: 500px) {
    .whatWeHave a {
        margin-right: 7px;

    }
}

@media screen and (max-width: 450px) {
    .contact .card3 p {
        flex-direction: column;
        align-items: normal;
    }
}

@media screen and (max-width: 1000px) {
    .logo_end iframe {
        width: 330px;
        margin: auto;
    }
}

@media screen and (max-width: 400px) {
    .logo_end iframe {
        width: 270px;
        height: 200px;
    }
}

@media screen and (max-width: 600px) {
    .logo_end div {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 600px) {
    .logo_end img {
        margin-bottom: 0;
    }
}

@media screen and (max-width: 500px) {
    .characteristics h2 {
        font-size: 23px;
    }
}

@media screen and (max-width: 1270px) {
    .ored_adres {
        width: 530px;
    }
}

@media screen and (max-width: 900px) {
    .ored_adres {
        width: 380px;
    }
}

@media screen and (max-width: 1270px) {
    .label_chekount input {
        width: 200px;
    }
}

@media screen and (max-width: 900px) {
    .label_chekount input {
        width: 120px;
        gap: 0px;
    }
}

@media screen and (max-width: 900px) {
    .label_chekount form {
        gap: 0px;
    }
}

@media screen and (max-width: 1160px) {
    .adres {
        grid-template-columns: 1fr;
        justify-items: normal;
    }
}

@media screen and (max-width: 750px) {
    .chekount {
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width: 750px) {
    .ored_adres {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .label_chekount input {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    .label_chekount form {
        gap: 20px;
    }
}

@media screen and (max-width: 420px) {
    .label_adres input {
        width: 250px;
    }
}

@media screen and (max-width: 475px) {
    .product .price {
        font-size: 16px;
    }
}

@media screen and (max-width: 390px) {
    .quantity-wrapper {
        margin-right: 29px;
    }
}

@media screen and (max-width: 365px) {
    .icons_head i {
        padding: 5px;
    }
}

@media screen and (max-width: 350px) {
    .icons_head i {
        padding: 3px;
    }
}

@media screen and (max-width: 345px) {
    .icons_head i {
        padding: 1px;
    }
}

@media screen and (max-width: 1400px) {
    .categories-menu {
        max-height: 550px;
    }
}

@media screen and (max-width: 1200px) {
    .categories-menu {
        max-height: 500px;
    }
}

@media screen and (max-width: 1000px) {
    .categories-menu {
        max-height: 450px;
    }
}

@media screen and (max-width: 500px) {
    .categories-menu {
        max-height: 300px;
    }
}

@media screen and (max-width: 768px) {
    .buy-btn.in-cart {
        width: 76px;
    }
}